{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>HP:About Us</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- bootstrap-css -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="{% static 'css/menubar.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	<!-- //font-awesome icons -->
</head>

<body>
    <!-- Header -->
	<div class="header">
		<div class="main_header">
			<div class="header_nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbart">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="HP"/></a>
					</div>
					
					<div class="collapse navbar-collapse navbar-right" id="navbart">
						<nav class="nav_starts">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Buy <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="buyres.html">Residential</a></li>
										<li><a href="buycomm.html">Commercial</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rent <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="rentres.html">Residential</a></li>
										<li><a href="rentcomm.html">Commercial</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Lease <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="leaseres.html">Residential</a></li>
										<li><a href="leasecomm.html">Commercial</a></li>
									</ul>
								</li><li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="dealers.html">Dealers</a></li>
										<li><a href="builders.html">Builders</a></li>
									</ul>
								</li>
								<li><a href="login.html">Login/Register</a></li>
								<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-bars fa-1x" aria-hidden="true"></i></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="profile.html">My Profile</a></li>
										<li><a href="shortlist.html">My Shortlist</a></li>
										<li><a href="sell.html">Sell/Rent Property</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="price.html">Price Trends</a></li>
									</ul>
								</li>
							</ul>
						</nav>
				    </div>	
				</nav>
			</div>
		</div>
	</div>
    <!-- //Header -->
    
	<!--sub_menu-->
	<div class="second_nav">
		<div class="scnd_nav_inner">
			<ul class="scnd_nav_list">
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
	<!--//sub_menu-->
    
	<!-- body -->
	<br/><br/>
	<h3 class="contact_heading">About Us</h3><br/><br/><hr/>
	<div class="container-fluid company">
		<div class="col-lg-1"></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<br/>
			<img src="{% static 'images/A1.jpg' %}" class="img-responsive"/>
		</div>
		<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
			<h2>Our Company</h2>
			<p>Real estate is "property consisting of land and the buildings on it,
			along with its natural resources such as crops, minerals or water;
			immovable property of this nature; an interest vested in this (also
			) an item of real property, (more generally) buildings or housing in
			general. Also: the business of real estate; the profession of buying,
			selling, or renting land, buildings or housing."
			<br/><br/>
			Real estate is "property consisting of land and the buildings on it,
			along with its natural resources such as crops, minerals or water;
			immovable property of this nature; an interest vested in this (also
			) an item of real property, (more generally) buildings or housing in
			general. Also: the business of real estate; the profession of buying,
			selling, or renting land, buildings or housing."
			<br/><br/>
			Real estate is "property consisting of land and the buildings on it,
			along with its natural resources such as crops, minerals or water;
			immovable property of this nature; an interest vested in this (also
			) an item of real property, (more generally) buildings or housing in
			general. Also: the business of real estate; the profession of buying,
			selling, or renting land, buildings or housing."
			</p>
		</div>
		<div class="col-lg-1"></div>
	</div>
	<br/><br/><hr/><br/>
	<div class="container">
		<section class="services">
			<h1>Our Services</h1>
            <br/><br/>
			<div class="row">
			    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">		  
					<i class="fa fa-home fa-2x" aria-hidden="true"></i>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">	
				    <h4><b>Mortgage</b></h4>
					<p>Existing property owners to raise funds for any purpose, while putting a lien on the property being mortgaged.</p>
				</div>
				<div class="col-lg-1 col-md-1"></div>	
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">		  
					<i class="fa fa-building-o fa-2x" aria-hidden="true"></i>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">	
				    <h4><b>Office Spaces</b></h4>
					<p>An enclosed work space for two or three people, suitable for semi-concentrated work and collaborative work in a place.</p>
				</div>
				<div class="col-lg-1 col-md-1"></div>
			</div>     
			
			<div class="row">			  
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">		  
				   <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">	
				    <h4><b>Rentals</b></h4>
					<p>Is an agreement where a payment is made for the temporary use of a property owned by another.</p>
				</div>
				<div class="col-lg-1 col-md-1"></div>	
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">		  
				   <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-9 col-xs-10">	
				    <h4><b>Loans</b></h4>
					<p>Loan is the lending of money from one individual to another individual.</p>
				</div>
				<div class="col-lg-1 col-md-1"></div>
			</div>		
		</section>
	</div>	
	<br/><hr><br/>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
			<br/>
				<div id="map"></div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h1>Head Quarters</h1>
				<p>Hello Properties, Regus krishe sapphire,<br/> Madhapur, Hyderabad,<br/> Telangana.</p>
				<p>Hello Properties, founded in Hyderabad, remains nestled in the heart of the city.</p>
			</div>
		</div>
	</div>
	<br/><br/>
	<!-- //body -->
    
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<h2><a href="index.html">Hello Properties</a></h2>
			<h3>Subscribe To Our Newsletter</h3>
			<p class="footer_paragraph">Subscribe to our newsletter and we will inform you about newest projects and promotions.</p>
			<form action="#" method="post">
				<input type="email" name="email" placeholder="Your email..." required="">
				<input type="submit" value="Subscribe">
			</form>
			<div class="footer_nav">
				<div class="footer_nav_left">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="#">About Us</a></li>
						<li><a href="contact.html">Contact Us</a></li>
						<li><a href="news.html">News</a></li>
					</ul>
				</div>
				<div class="footer_nav_right">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<p>© 2018 Hello Properties. All rights reserved | Design by <a href="#">Epitychis Info Labs Pvt.Ltd</a></p>
		</div>
	</div>
	<!-- //footer -->
      <script src="{% static 'js/menutoggle.js' %}"></script>
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
    
	<!-- map -->
	<script src="{% static 'js/map.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
	<!-- //map -->
    
</body>
</html>