{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>Hello Properties</title>
	<!-- bootstrap-css -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
	<!-- css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	<!-- //font-awesome icons -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
	===============================
</head>
<body bgcolor="gray">
<h1>sucessfull registered</h1>
</body>
</html>










