<!DOCTYPE html>
<html>
<head>
	<title>HP:Shortlist</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- bootstrap-css -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="css/shortlist.css" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- //font-awesome icons -->
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="main_header">
			<div class="header_nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbart">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="HP"/></a>
					</div>
					
					<div class="collapse navbar-collapse navbar-right" id="navbart">
						<nav class="nav_starts">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Buy <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="buyres.html">Residential</a></li>
										<li><a href="buycomm.html">Commercial</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rent <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="rentres.html">Residential</a></li>
										<li><a href="rentcomm.html">Commercial</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Lease <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="leaseres.html">Residential</a></li>
										<li><a href="leasecomm.html">Commercial</a></li>
									</ul>
								</li><li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="dealers.html">Dealers</a></li>
										<li><a href="builders.html">Builders</a></li>
									</ul>
								</li>
								<li><a href="login.html">Login/Register</a></li>
								<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-bars fa-1x" aria-hidden="true"></i></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="profile.html">My Profile</a></li>
										<li><a href="#">My Shortlist</a></li>
										<li><a href="sell.html">Sell/Rent Property</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="price.html">Price Trends</a></li>
									</ul>
								</li>
							</ul>
						</nav>
				    </div>	
				</nav>
			</div>
		</div>
	</div>
	<!--//header-->
    
	<!--sub_menu-->
	<div class="second_nav">
		<div class="scnd_nav_inner">
			<ul class="scnd_nav_list">
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>My Shortlist</li>
			</ul>
		</div>
	</div>
	<!--//sub_menu-->
    
	<br/><br/><br/>
	<!-- body -->
	<h2>Shortlisted Items</h2>
	<br/><br/>
	<div class="container">
		<div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">	
                <div class="panel panel-default">	
                    <div class="panel-body short_body">
                        <img src="images/home1.jpg" class="img-responsive">
                        <div class="short_desc">
                            <h4>Description:</h4>
                            <p>2BHK flat for rent in 3rd floor,flat no:430</p>
                            <p><a href="#"> Vora Towers Madhuranagar </a></p>
                            <p><b>Property type</b> : Residential</p>
                            <p><b>Square feet</b> : 1500 sqr/ft</p>
                            <p><b>Posted By</b> : Owner </p>
                            <p><b>Cost</b> : 47Lac </p>
                        </div>
                        <a href="buyhome1.html"><button type="button" value="buy" class="btn btn-primary">Buy</button></a>
                        <a href="#"><button type="button" value="delete" class="btn btn-danger">Delete</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">	
                <div class="panel panel-default">	
                    <div class="panel-body short_body">
                        <img src="images/home2.jpg" class="img-responsive">
                        <div class="short_desc">
                            <h4>Description:</h4>
                            <p>2BHK flat for rent in 3rd floor,flat no:430</p>
                            <p><a href="#"> Vora Towers Madhuranagar </a></p>
                            <p><b>Property type</b> : Residential</p>
                            <p><b>Square feet</b> : 1500 sqr/ft</p>
                            <p><b>Posted By</b> : Builder </p>
                            <p><b>Cost</b> : 20Lac</p>
                        </div>
                        <button type="button" value="buy" class="btn btn-primary">Buy</button>
                        <button type="button" value="delete" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">	
                <div class="panel panel-default">	
                    <div class="panel-body short_body">
                        <img src="images/home3.jpg" class="img-responsive">
                        <div class="short_desc">
                            <h4>Description:</h4>
                            <p>2BHK flat for rent in 3rd floor,flat no:430</p>
                            <p><a href="#"> Vora Towers Madhuranagar </a></p>
                            <p><b>Property type</b> : Commercial</p>
                            <p><b>Square feet</b> : 1500 sqr/ft</p>
                            <p><b>Posted By</b> : Builder </p>
                            <p><b>Cost</b> : 2Lac Per Month</p>
                        </div>
                        <button type="button" value="buy" class="btn btn-primary">Buy</button>
                        <button type="button" value="delete" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">	
                <div class="panel panel-default">	
                    <div class="panel-body short_body">
                        <img src="images/home3.jpg" class="img-responsive">
                        <div class="short_desc">
                            <h4>Description:</h4>
                            <p>2BHK flat for rent in 3rd floor,flat no:430</p>
                            <p><a href="#"> Vora Towers Madhuranagar </a></p>
                            <p><b>Property type</b> : Commercial </p>
                            <p><b>Square feet</b> : 1500 sqr/ft </p>
                            <p><b>Posted By</b> : Dealer </p>
                            <p><b>Cost</b> : 2Lac Per Month</p>
                        </div>
                        <button type="button" value="buy" class="btn btn-primary">Buy</button>
                        <button type="button" value="delete" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">	
                <div class="panel panel-default">	
                    <div class="panel-body short_body">
                        <img src="images/home1.jpg" class="img-responsive">
                        <div class="short_desc">
                            <h4>Description:</h4> 
                            <p>2BHK flat for rent in 3rd floor,flat no:430</p>
                            <p><a href="#"> Vora Towers Madhuranagar </a></p>
                            <p><b>Property type</b> : Residential</p>
                            <p><b>Square feet</b> : 1500 sqr/ft</p>
                             <p><b>Posted By</b> : Dealer </p>
                            <p><b>Cost</b> : 47Lac </p>
                        </div>
                        <button type="button" value="buy" class="btn btn-primary">Buy</button>
                        <button type="button" value="delete" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">	
                <div class="panel panel-default">	
                    <div class="panel-body short_body">
                        <img src="images/home2.jpg" class="img-responsive">
                        <div class="short_desc">
                            <h4>Description:</h4>
                            <p>2BHK flat for rent in 3rd floor,flat no:430</p>
                            <p><a href="#"> Vora Towers Madhuranagar </a></p>
                            <p><b>Property type</b> : Residential </p>
                            <p><b>Square feet</b> : 1500 sqr/ft </p>
                            <p><b>Posted By</b> : Dealer </p>
                            <p><b>Cost</b> : 20Lac </p>
                        </div>
                        <button type="button" value="buy" class="btn btn-primary">Buy</button>
                        <button type="button" value="delete" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<!-- //body -->
	
    <br/><br/>
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<h2><a href="index.html">Hello Properties</a></h2>
			<h3>Subscribe To Our Newsletter</h3>
			<p class="footer_paragraph">Subscribe to our newsletter and we will inform you about newest projects and promotions.</p>
			<form action="#" method="post">
				<input type="email" name="email" placeholder="Your email..." required="">
				<input type="submit" value="Subscribe">
			</form>
			<div class="footer_nav">
				<div class="footer_nav_left">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact Us</a></li>
						<li><a href="news.html">News</a></li>
					</ul>
				</div>
				<div class="footer_nav_right">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<p>© 2018 Hello Properties. All rights reserved | Design by <a href="#">Epitychis Info Labs Pvt.Ltd</a></p>
		</div>
	</div>
	<!-- //footer -->
	
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="js/bootstrap.js"></script>
	
</body>
</html>