{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hello Properties</title>
	<!-- bootstrap-css -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
	<!-- css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	<!-- //font-awesome icons -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">

</head>
<body style="background-color: skyblue;">
<figure class="slide" style="background-image: url({% static 'images/slider4.jpg' %})">
<div class="header">
		<div class="main_header">
			<div class="header_nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbart">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="HP"/></a>
					</div>

					<div class="collapse navbar-collapse navbar-right" id="navbart">
						<nav class="nav_starts">
							<ul class="nav navbar-nav">
								<li><a href="http://localhost:8000/">Home</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Track <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="buyres.html">Order Status</a></li>
										<li><a href="buycomm.html">Cancel Order</a></li>
									</ul>
								</li>
								<li class="dropdown">
                                    <li><a href="index.html">Cart</a></li>
								</li>
                                <li class="dropdown">
                                    <li><a href="http://localhost:8000/authapp/signin/">Signin</a></li>
								</li>
                            </ul>
{# start signin#}
		<div class="container-login100">
			<div class="login100-more" style="background-image: url({% static 'images1/bg-01.jpg' %})"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form action="" method="post">
                    {% csrf_token %}
                    <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Full Name</span>
						<input class="input100" type="text" name="name" placeholder="Name...">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Phone No</span>
						<input class="input100" type="number" name="mobno" placeholder="Phoneno...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
					<br>	<input class="input100" type="text" name="email" placeholder="Email addess...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="uname" placeholder="Username...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Pwd</span>
						<br><input class="input100" type="password" name="pwd" placeholder="*******">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">Repeat Password</span>
						<input class="input100" type="password" name="cpwd" placeholder="*************">
						<span class="focus-input100"></span>
					</div>


					<span class="login100-form-title p-b-59">
						Sign Up<br>
					</span>


					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								<span class="txt1">
									I agree to the
									<a href="#" class="txt2 hov1">
										Terms of User
									</a>

								</span>
							</label>
						</div>


					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Sign Up
							</button>
						</div>

						<a href="signin.html" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'vendor1/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor1/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor1/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js1/main.js' %}"></script>
                            <!-- footer -->
	<div class="footer">
		<div class="container">
			<h2><a href="index.html">Hello Properties</a></h2>
			<h3>Subscribe To Our Newsletter</h3>
			<p class="footer_paragraph">Subscribe to our newsletter and we will inform you about newest projects and promotions.</p>
			<form action="#" method="post">
				<input type="email" name="email" placeholder="Your email..." required="">
				<input type="submit" value="Subscribe">
			</form>
			<div class="footer_nav">
				<div class="footer_nav_left">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact Us</a></li>
						<li><a href="news.html">News</a></li>
					</ul>
				</div>
				<div class="footer_nav_right">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<p>© 2018 Hello Properties. All rights reserved | Design by <a href="#">Epitychis Info Labs Pvt.Ltd</a></p>
		</div>
	</div>

</body>
</html>
